* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
body {
  transition: background-color 0.5s;
}
.sidemenu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#6a8ec5, #4bb6c9);
  margin-left: -250px;
  transition: 0.5s;
  z-index: 1;
}
.sidemenu ul {
  list-style-type: none;
  margin-top: 45px;
  margin-left: 45px;
}
.sidemenu a {
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: white;
  display: block;
  transition: color 0.1s;
}
.sidemenu a:hover {
  color: #6fffdd;
}
.sidemenu li a.active {
  color: #6fffdd;
}
.main {
  padding: 20px 15px;
  transition: 0.5s;
}
.expand-arrow {
  transition: 0.5s;
  position: fixed;
  top: 50%;
}
